{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Librarree</title>
  </head>

  <body
    style="
      background-image: linear-gradient(
        180deg,
        hsl(202deg 56% 30%) 0%,
        hsl(203deg 85% 25%) 12%,
        hsl(206deg 100% 23%) 24%,
        hsl(211deg 100% 23%) 35%,
        hsl(219deg 87% 23%) 47%,
        hsl(229deg 68% 24%) 58%,
        hsl(233deg 64% 22%) 69%,
        hsl(237deg 61% 21%) 79%,
        hsl(242deg 62% 18%) 90%,
        hsl(247deg 69% 15%) 100%
      );
    "
  >
    <header>
      <nav
        class="bg-transparent backdrop-blur-lg fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600"
      >
        <div
          class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
        >
          <ul class="nav flex space-x-6 ml-3">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'main:show_main' %}"
              >
                <lord-icon
                  src="https://cdn.lordicon.com/wmwqvixz.json"
                  trigger="hover"
                  state="hover-home-1"
                  colors="primary:#00b4d8  "
                  style="width: 30px; height: 30px"
                >
                </lord-icon
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><lord-icon
                  src="https://cdn.lordicon.com/ulnswmkk.json"
                  trigger="hover"
                  colors="primary:#00b4d8"
                  style="width: 30px; height: 30px"
                >
                </lord-icon
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><lord-icon
                  src="https://cdn.lordicon.com/pbrgppbb.json"
                  trigger="hover"
                  colors="primary:#00b4d8  "
                  style="width: 30px; height: 30px"
                >
                </lord-icon
              ></a>
            </li>
            <li class="nav-item">
              <a href="{% url 'main:create_book_entry' %}" class="nav-link"
                ><script src="https://cdn.lordicon.com/lordicon.js"></script>
                <lord-icon
                  src="https://cdn.lordicon.com/jgnvfzqg.json"
                  trigger="hover"
                  colors="primary:#00b4d8"
                  style="width: 30px; height: 30px"
                >
                </lord-icon
              ></a>
            </li>
          </ul>

          <a
            href="{% url 'main:show_main' %}"
            class="flex items-center space-x-3 rtl:space-x-reverse mr-20"
          >
            <span
              class="self-center text-2xl text-[#00b4d8] font-['Old Standard'] font-semibold whitespace-nowrap"
            >
              Librarree
            </span>
          </a>

          <div class="relative group mr-6 flex">
            <p class="text-[#00b4d8] mr-2 mt-2 font-bold">{{name}}</p>
            <a
              href="#
            "
            >
              <lord-icon
                src="https://cdn.lordicon.com/hrjifpbq.json"
                trigger="hover"
                colors="primary:#00b4d8"
                style="width: 35px"
              >
              </lord-icon>
            </a>

            <!-- Hidden elements, visible on hover -->
            <div
              class="absolute hidden group-hover:block bg-black bg-opacity-80 p-3 rounded shadow-lg mt-8 right-0"
            >
              <a href="{% url 'main:logout' %}">
                <button
                  class="text-white w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#0096c7] hover:bg-[#00b4d8]"
                >
                  Logout
                </button>
              </a>
              <h5 class="text-white">Sesi terakhir login: {{ last_login }}</h5>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div
      class="min-h-screen flex items-center justify-center w-screen bg-[url('{% static 'image/bgif4.gif' %}')] bg-cover py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="p-10">
        <h1 class="text-white font-['Oswald'] text-3xl">
          “You will never be happy if you continue to search for what happiness
          consists of. You will never live if you are looking for the meaning of
          life.”<br />
          <br />
          <span> ― Albert Camus </span>
        </h1>
      </div>
    </div>

    <div class="m-4 text-center">
      {% if not book_entries %}
      <h3 class="col-span-full text-white font-['Oswald'] font-bold text-3xl">
        No books available yet :)
      </h3>

      <!-- Add a wrapper div to control the size and center alignment -->
      <div class="flex justify-center mt-4">
        <div
          class="tenor-gif-embed"
          data-postid="4486215913899514615"
          data-share-method="host"
          data-aspect-ratio="1"
          data-width="30%"
        >
          <a
            href="https://tenor.com/view/%E5%B0%8F%E7%8C%AB-gif-4486215913899514615"
            >小猫 Sticker</a
          >from
          <a href="https://tenor.com/search/%E5%B0%8F%E7%8C%AB-stickers"
            >小猫 Stickers</a
          >
        </div>
      </div>

      <script
        type="text/javascript"
        async
        src="https://tenor.com/embed.js"
      ></script>
    </div>

    <main
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 m-6 pt-5 pb-5"
    >
      {% else %} {% for book_entry in book_entries %}
      <div
        class="w-full bg-black bg-opacity-50 backdrop-blur-lg border border-gray-200 rounded-lg shadow-lg"
      >
        <a href="#">
          <img
            class="w-full h-72 object-cover rounded-t-lg"
            src="{{ book_entry.image.url }}"
            alt="product image"
          />
        </a>
        <div class="px-5 pb-5 pt-3">
          <a href="#">
            <h5
              class="text-xl font-['Old Standard TT'] font-semibold tracking-tight text-white"
            >
              {{ book_entry.name }} <br />
              <span class="text-l text-gray-400">{{ book_entry.author }}</span>
            </h5>
          </a>
          <div class="flex items-center mt-2.5 mb-2">
            <div class="flex items-center space-x-1 rtl:space-x-reverse">
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-yellow-300"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
              <svg
                class="w-4 h-4 text-gray-200 dark:text-gray-600"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 22 20"
              >
                <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                />
              </svg>
            </div>
            <span
              class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"
              >5.0</span
            >
          </div>
          <span class="text-2xl font-bold text-white">
            Rp{{ book_entry.price }}
          </span>
          <div class="flex items-center mt-0 mb-5">
            <div class="flex items-center space-x-1"></div>
          </div>
          <div class="flex items-center justify-between">
            <a href="{% url 'main:delete_book' book_entry.pk %}">
              <lord-icon
                src="https://cdn.lordicon.com/skkahier.json"
                trigger="hover"
                colors="primary:#00b4d8"
                style="width: 30px"
              >
              </lord-icon>
            </a>
            <a href="{% url 'main:edit_book' book_entry.pk %}">
              <lord-icon
                src="https://cdn.lordicon.com/omiqopzf.json"
                trigger="morph"
                state="morph-book"
                colors="primary:#00b4d8"
                style="width: 30px"
              >
              </lord-icon>
            </a>
          </div>
        </div>
      </div>
      {% endfor %} {% endif %}
    </main>
  </body>
  <script src="https://cdn.lordicon.com/lordicon.js"></script>
</html>
{% endblock content %}
